﻿@using Yooper.DTO;
@model ChangePasswordVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RecoverResult</title>
    <style>
        .container{
            width:800px;
            margin:auto;
            overflow:hidden;
        }
    </style>
</head>
<body>
    <header><h2>Yooper</h2></header>
    <div class="container">
        @using (Html.BeginForm("RecoverResult", "Account", FormMethod.Post))
        {
            <div>@Html.ValidationSummary()</div>
            <div>@Html.HiddenFor(x=>x.Id)</div>
            <div>
                <label>New Password</label> @Html.PasswordFor(x => x.NewPassword, new { placeholder="Enter your new password" });
            </div>
            <div>
                <label>Confirm Password</label> @Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "Enter confirm password same as previous one." });
            </div>
            <div>
                <button type="submit">Recover Password</button>
            </div>
        }

    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
