﻿@using Yooper.DTO;
@{ 
    ViewBag.Title = "Dashboard";
    var breadcrumb = new List<BreadCrumb>()
    {
        new BreadCrumb() {Title="Dashboard",Link="/Home/Index"}
    };
    ViewBag.breadcrumb = breadcrumb;
}

<h1>Yooper Dashboard <small>You can manage all your client  licenses here.</small></h1>