﻿@using Yooper.DTO;
@model ChangePasswordVM
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var loginUser = Session["user"] as UserMaster;
    var breadcrumb = new List<BreadCrumb>()
{
new BreadCrumb() {Title="Profile Management",Link="/Profile/Index?Id="+loginUser.Id},
new BreadCrumb() {Title="ChangePassword",Link=""}
};
    ViewBag.breadcrumb = breadcrumb;



}

<div class="portlet box blue-hoki">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-lock"></i>Change Password
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body form" style="display: block">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="has-error" style="display:none;"></div>
                    <input type="password" placeholder="Enter your old password here." class="form-control" id="txt_old_password" />
                <!-- BEGIN FORM-->
                @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { style = "display:none;", id = "change_password_form" }))
                {
                    @Html.HiddenFor(x => x.Id, new { value = loginUser.Id })


                    <div class="form-group">
                        <label>New password</label>
                        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", placeholder = "Enter email here." })
                    </div>
                    <span style="color:red">@Html.ValidationMessageFor(x => x.NewPassword)</span>

                    <div class="form-group">
                        <label>Confirm password</label>
                        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Enter email here." })
                    </div>
                    <span style="color:red">@Html.ValidationMessageFor(x => x.ConfirmPassword)</span>

                    <div>
                        <button type="submit" class="btn btn-default">Change Password</button>
                    </div>

                }
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>


@section script{
    <script type="text/javascript">
        $('#txt_old_password').on('blur', function () {
            $.ajax({
                url: '/Profile/CheckPassword?userId=' +@loginUser.Id+'&password=' + $('#txt_old_password').val(),
                method: 'GET',
                success: function (res) {
                    if (res === true) {
                        $('.has-error').css('display', 'none');
                        $('#change_password_form').css('display', 'block');
                    } else {
                        $('#change_password_form').css('display', 'none');
                        $(".has-error").html('Password is worng. Please try again.');
                        $('.has-error').css('display', 'block');
                        setTimeout(() => { $('.has-error').css('display', 'none'); }, 3000);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            })
        });
    </script>
    }
