﻿@using Yooper.DTO
@model Yooper.DTO.ProfileVM

@{
    ViewBag.Title = "Profile Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var breadcrumb = new List<BreadCrumb>()
    {
    new BreadCrumb() {Title="Profile Management",Link="/Profile/Index?Id="+Model.Id}
    };
    ViewBag.breadcrumb = breadcrumb;
}

@section style{
    <style>
        .image {
            padding: 3rem;
            width: 60%;
            margin: auto;
        }
        .image img {
            margin-left: 3rem;
        }

        
    </style>
    }

<div class="portlet box blue-hoki">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gears"></i>Profile Management
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body form" style="display: block">
        <!-- BEGIN FORM-->
        @using (Html.BeginForm("SaveProfile", "Profile", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="form-actions top">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">Submit</button>
                        <a href="@Url.Action("Index","Profile",new {Id=Model.Id })" class="btn default">Cancel</a>
                    </div>
                </div>
            </div>
            <div class="form-body">
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x=>x.ImageUrl)
                <div class="form-group">
                    <label class="col-md-3 control-label">Email address</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <i class="fa fa-user"></i>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Enter email here." })
                        </div>
                        <span style="color:red">@Html.ValidationMessageFor(x => x.Email)</span>
                    </div>
                </div>

                <div style="text-align:center;">
                    <a href="@Url.Action("ChangePassword","Profile",new { Id= Model.Id})" class="btn btn-primary">Change Password</a>
                </div>

                <div class="image">
                    <img src="@Url.Content(string.IsNullOrEmpty(Model.ImageUrl)?"http://pluspng.com/img-png/user-png-icon-male-user-icon-512.png":"/Images/"+Model.ImageUrl)" style="width:25px;height:25px;" />
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Upload</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            @Html.TextBoxFor(x => x.Photo, new { @class = "form-control", type="file"})
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- END FORM-->
    </div>
</div>

