﻿@using Yooper.DTO;
@model Yooper.DTO.GenerateLicenseVM
@{
    ViewBag.Title = "GenerateLicense";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var breadcrumb = new List<BreadCrumb>()
{
new BreadCrumb() {Title="License Management",Link="/License/Index"},
new BreadCrumb() {Title="Generate License",Link=""}
};
    ViewBag.breadcrumb = breadcrumb;
    List<SelectListItem> dropdown = new List<SelectListItem>();
    var user = ViewBag.users as IQueryable<Yooper.DTO.User>;
    foreach (var item in user)
    {
        dropdown.Add(new SelectListItem { Text = item.Username, Value = item.Id.ToString() });
    }
}

<div class="portlet box blue-hoki">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-key"></i>Generate License Form
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body form" style="display: block">
        <!-- BEGIN FORM-->
        @using (Html.BeginForm("GenerateLicense", "License", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-actions top">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">Submit</button>
                        <a href="@Url.Action("Index","License")" class="btn default">Cancel</a>
                    </div>
                </div>
            </div>
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">User</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            @Html.DropDownListFor(x => x.UserId, dropdown, "--select user--", new { @class = "form-control drp-user" })
                        </div>
                        <span style="color:red">@Html.ValidationMessageFor(x => x.UserId)</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Secret Key</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <i class="fa fa-user-secret"></i>
                            @Html.TextBoxFor(x => x.SecretKey, new { @class = "form-control", id = "SecretKey", placeholder = "Enter Secret key here." })
                            <button type="button" onclick="GenerateSecretKey()" class="btn green btn-xs">Generate Secret Key</button>
                        </div>
                        <span style="color:red">@Html.ValidationMessageFor(x => x.SecretKey)</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">License Expiry Date</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <i class="fa fa-calendar"></i>
                            @Html.TextBoxFor(x => x.LicenseExpiryDate, new { @class = "form-control", id = "license", placeholder = "Enter Secret key here." })
                        </div>
                        <span style="color:red">@Html.ValidationMessageFor(x => x.LicenseExpiryDate)</span>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3 control-label">Number of login</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <i class="fa fa-lock"></i>
                            @Html.TextBoxFor(x => x.NumberOfLogin, new {type="number", @class = "form-control", placeholder = "Add number of logins" })
                        </div>
                        <span style="color:red">@Html.ValidationMessageFor(x => x.NumberOfLogin)</span>
                    </div>
                </div>
            </div>
        }
        <!-- END FORM-->
    </div>
</div>


@section script{
    <script type="text/javascript">
        function GenerateSecretKey() {
            jQuery.ajax({
                url: '/License/CreateLicense',
                method: 'GET',
                success: function (res) {
                    console.log(res);
                    $('#SecretKey').val(res.Data).focus();
                    toastr["success"]("Secret key generated successfully.", "Success")
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        var date = new Date();
        date.setDate(date.getDate());
        $('#license').datepicker({
            rtl: App.isRTL(),
            orientation: "left",
            autoclose: true,
            startDate: date
        });
        $('.drp-user').select2();
    </script>
}


