﻿@using Yooper.DTO
@model IQueryable<Yooper.DTO.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var breadcrumb = new List<BreadCrumb>()
{
new BreadCrumb() {Title="License Management",Link="/License/Index"}
};
    ViewBag.breadcrumb = breadcrumb;
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-briefcase font-dark hide"></i>
                    <span class="caption-subject font-hide bold uppercase">License Management</span>
                </div>
            </div>
            <div class="portlet-body">
                <a title="Assign new secret key to user." href="@Url.Action("GenerateLicense","License")" class="btn btn-icon-only green">
                    <i class="fa fa-plus"></i>
                </a>
                @*@Html.MVCGrid("UserGrid")*@
                <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="tbl_users">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Secret Key</th>
                            <th>Expiry</th>
                            <th>No. of logins</th>
                            <th>Action</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int count = 1;   }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@item.Name</td>
                                <td>@item.Username</td>
                                <td>@item.SecretKey</td>
                                <td><span class="btn btn-danger">@item.LicenseExpiryDate.GetValueOrDefault().ToString("MMM dd, yyyy")</span></td>
                                <td><span class="btn btn-danger">@item.Limit</span></td>
                                <td>
                                    <button class="btn btn-primary btn-xs" title="restart user application" onclick="restart('@item.Id')"><i class="fa fa-repeat"></i></button>
                                </td>
                                <td>
                                    <a title="Generate/renew secret keys" href="@Url.Action("GenerateLicense","License",new {Id= item.Id })" class="btn btn-icon-only blue">
                                        <i class="fa fa-key"></i>
                                    </a>
                                </td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section script{
    <script type="text/javascript">
        $('#tbl_users').DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }, {
                    'bSortable': false,
                    'aTargets': [-2] /* 1st one, start by the right */
                }]
        });

        function restart(id) {
            var confirmation = confirm('Are you sure you want to restart ?');

            if (confirmation === true) {
                $.ajax({
                    url: '/License/Restart?Id=' + id,
                    method: 'GET',
                    success: function (res) {
                        toastr["success"]('Application is restarted. ', 'Success');
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
            
        }
    </script>
}


