﻿@{ 
    string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(),
        action = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    var user = Session["user"] as Yooper.DTO.UserMaster;
}
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item start @(controller=="Home" && action == "Index"?"active":"")">
                <a href="@Url.Action("Index","Home")" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item start @(controller=="Profile" && action == "Index"?"active":"")">
                <a href="@Url.Action("Index","Profile",new {Id=user.Id })" class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">Personal Setting</span>
                </a>
            </li>

            <li class="nav-item start @(controller=="User" && action== "Index" || controller=="User" && action=="ActionUser"?"active":"")">
                <a href="@Url.Action("Index","User")" class="nav-link nav-toggle">
                    <i class="icon-user"></i>
                    <span class="title">User Management</span>
                </a>
            </li>

            <li class="nav-item start @(controller=="License" && action== "Index" || controller=="License" && action=="GenerateLicense"?"active":"")">
                <a href="@Url.Action("Index","License")" class="nav-link nav-toggle">
                    <i class="icon-briefcase"></i>
                    <span class="title">License Management</span>
                </a>
            </li>

            <li class="nav-item start ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-book-open"></i>
                    <span class="title">Reporting</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
