﻿@using Yooper.DTO
@model Yooper.DTO.ActionUserVM
@{
    ViewBag.Title = "ActionUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var breadcrumb = new List<BreadCrumb>()
{
new BreadCrumb() {Title="User Management",Link="/User/Index"},
new BreadCrumb() {Title="Add/Edit User",Link=""}
};
    ViewBag.breadcrumb = breadcrumb;
    bool isEdit = Model.Id > 0 ? true : false;
}

<div class="portlet box blue-hoki">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa @(isEdit?"fa-edit":"fa-user-plus")"></i>@(!isEdit?"Add":"Edit") User Form
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body form" style="display: block">
        <!-- BEGIN FORM-->
        @using (Html.BeginForm("ActionUser", "User", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-actions top">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">Submit</button>
                        <a  href="@Url.Action("Index","User")"  class="btn default">Cancel</a>
                    </div>
                </div>
            </div>
            <div class="form-body">
                @Html.HiddenFor(x => x.Id)
                <div class="form-group">
                    <label class="col-md-3 control-label">Name</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <i class="fa fa-user"></i>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Enter name here." })
                        </div>
                        <span style="color:red">@Html.ValidationMessageFor(x => x.Name)</span>
                    </div>
                </div>
                @if (!isEdit)
                {
                    <div class="form-group">
                        <label class="col-md-3 control-label">Username</label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <i class="fa fa-envelope"></i>
                                @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Enter username here.", id = "txt_username" })
                            </div>
                            <span style="color:red">@Html.ValidationMessageFor(x => x.Username)</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label class="col-md-3 control-label">Username</label>
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <i class="fa fa-envelope"></i>
                                @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Enter username here." })
                            </div>
                            <span style="color:red">@Html.ValidationMessageFor(x => x.Username)</span>
                        </div>
                    </div>
                }

                @if (isEdit)
                {
                    <div class="form-group last">
                        <label class="col-md-3 control-label">Previous Password</label>
                        <div class="col-md-4">
                            <p class="form-control-static"> @Model.Password</p>
                        </div>
                    </div>
                }


                <div class="form-group">
                    <label class="col-md-3 control-label">Password</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <i class="fa fa-lock"></i>
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Enter password here." })
                        </div>
                        <span style="color:red">@Html.ValidationMessageFor(x => x.Password)</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Confirm Password</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <i class="fa fa-lock"></i>
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Enter your password again." })
                        </div>
                        <span style="color:red">@Html.ValidationMessageFor(x => x.ConfirmPassword)</span>
                    </div>
                </div>


                @*<div class="form-group">
            <label class="col-md-3 control-label">Secret Key</label>
            <div class="col-md-4">
                <div class="input-icon right">
                    <i class="fa fa-user-secret"></i>
                    @Html.TextBoxFor(x => x.SecretKey, new { @class = "form-control", id = "SecretKey", placeholder = "Enter Secret key here." })
                    <button type="button" onclick="GenerateSecretKey()" class="btn green btn-xs">Generate Secret Key</button>
                </div>
                <span style="color:red">@Html.ValidationMessageFor(x => x.SecretKey)</span>
            </div>
        </div>*@


                @if (!isEdit)
                {
                    <div class="form-group last">
                        <label class="col-md-3 control-label">License Issue Date</label>
                        <div class="col-md-4">
                            <p class="form-control-static"> @DateTime.Now.ToString("MMM, dd yyyy")</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group last">
                        <label class="col-md-3 control-label">License Issue Date</label>
                        <div class="col-md-4">
                            <p class="form-control-static"> @Model.LicenseIssueDate.GetValueOrDefault().ToString("MMM, dd yyyy")</p>
                        </div>
                    </div>
                }



                @if (isEdit)
                {
                    <div class="form-group" style="margin-left:26%;">
                        <div class="mt-checkbox-list">
                            <label class="mt-checkbox mt-checkbox-outline">
                                Block
                                @Html.CheckBoxFor(x => x.Block)
                                <span></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group last">
                        <label class="col-md-3 control-label">Created On</label>
                        <div class="col-md-4">
                            <p class="form-control-static"> @Model.CreatedDate.ToString("MMM, dd yyyy")</p>
                        </div>
                    </div>
                    <div class="form-group last">
                        <label class="col-md-3 control-label">Last Updated On</label>
                        <div class="col-md-4">
                            <p class="form-control-static"> @(Model.UpdatedDate != null ? Model.UpdatedDate.GetValueOrDefault().ToString("MMM, dd yyyy") : "")</p>
                        </div>
                    </div>
                }



            </div>
        }
        <!-- END FORM-->
    </div>
</div>

@section script{
    <script type="text/javascript">
        function CheckEmail(email) {
            $.ajax({
                url: '/User/CheckEmail?Email=' + email,
                method: 'GET',
                success: function (res) {
                    if (res === true) {
                        toastr["error"]('Username already exist. Please enter another username.', 'Error');
                        $('#txt_username').val('');
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        $('#txt_username').on('blur', function () {
            CheckEmail($(this).val());
        });
    </script>
    }

