﻿@model IQueryable<Yooper.DTO.User>
@using Yooper.DTO
@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var breadcrumb = new List<BreadCrumb>()
    {
        new BreadCrumb() {Title="User Management",Link="/User/Index"}
    };
    ViewBag.breadcrumb = breadcrumb;
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-briefcase font-dark hide"></i>
                    <span class="caption-subject font-hide bold uppercase">User Management</span>
                </div>
            </div>
            <div class="portlet-body">
                <a href="@Url.Action("ActionUser","User")" class="btn btn-icon-only green">
                    <i class="fa fa-plus"></i>
                </a>
                <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="tbl_users">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{ int count = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@count</td>
                        <td>@item.Name</td>
                        <td>@item.Username</td>
                        <td>@item.Password</td>
                        <td>
                            @if (item.Block)
                            {
                                <div class="btn btn-danger btn-xs">BLOCK</div>
                            }
                            else
                            {
                                <div class="btn btn-primary btn-xs">ACTIVE</div>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("ActionUser","User",new {Id= item.Id })" class="btn btn-icon-only red">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a onclick="Delete('@item.Id')" class="btn btn-icon-only purple">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
            </div>
        </div>
    </div>
</div>

@section script{
    <script type="text/javascript">
        $('#tbl_users').DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }]
        });

        function Delete(Id) {
            var res = confirm("Once delete will not be recoverd. Are you sure?");
            if (res === true) {
                window.location.href = "/User/DeleteUser?Id=" + Id;
            }
        }
    </script>
    }

